@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.cdnfonts.com/css/lato');
.main{background-color: #f1f1f1;background-position-x: right;background-repeat: no-repeat;display: flex;justify-content: center;background-size: cover;font-family: 'Lato';/* position: absolute; *//* bottom: 0; *//* top: 0; */}
h1 {font-family: 'Lato', sans-serif;font-size: 36px;font-weight: 800;z-index: 5;}
h2 {color: #6b6c6c;font-weight: 300;font-family: 'Lato', sans-serif;margin-bottom: 1em;}
.textColor {/* background: -webkit-linear-gradient(#61e2f3, #5867e4); *//* -webkit-background-clip: text; *//* -webkit-text-fill-color: transparent; *//* font-weight: 400; */}
span.dtk {background: #30e29a;-webkit-background-clip: text;font-size: 56px;-webkit-text-fill-color: transparent;letter-spacing: 3px;}
.navbar-brand img {max-width:250px}
.btn-primary:hover { --x: 100%;}
.btn-3 {--c1: #61e2f3;--c2: #5862e5;}
a {color: #e0e0e0;text-decoration: none;}
.btnDefault {background-color: #040329;color:#fff;padding:10px}
.btnDefault:hover {color: #ffffff;background-color: #6853c8!important;}
btn:focus, a:focus {outline: none;}
.form-control{background-color:#f1f1f1;color: #5ebfef;border: 0;}
.btn { border:0; padding: 10px;}
.b-0 {border:none}
.bs {box-shadow: 4px 11px 16px #00000059;}
.br-10 {border-radius: 10px;}
.btn-primary {transition: 0.5s;background: linear-gradient(90deg, #564da0, #30e29a 51%, var(--c1, #564da0)) var(--x, 0)/ 200%;width: 98%;}
i.bi {color: #ffffff;}
.main {/* overflow: auto; */width: 100%;min-width: 100%;max-width: 100%;display: flex;flex-direction: column;}
.conteudo{display:flex;flex-direction:column;justify-content:center;align-items:center;/* height:100vh; */z-index: 1;background-image: url('../img/bg-main.jpg');background-size: cover;}
.chaveAcesso:before, .formulario.conteudo:before {display: block;width: 100%;position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #ffffffc4;height: 100%;content: " ";z-index: 0;}
img.logo { max-width: 464px;}
.loginContainer:after {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000075;
    height: 100%;
    content: " ";
    z-index: -1;
}
.profileCard {height:100vh}
.loginContainer .card {color:#fff;background:#302d75}
.avatar-container {
  position: relative;
  width: 144px;
  height: 144px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.avatar-container img {
    transition: 0.5s;
}
.avatar-container:hover img {
    transition: 0.5s;
    scale: 1.2;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    background: #06060647;
    margin: 5px;
    padding: 10px;
    width: auto;
	border-radius: 5px;
    border: 1px solid #00bcd470;
}
#avatar {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.formulario.conteudo {
    /* margin-top: 21em; */
}
#file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.input-group-text {
    background-color: #5552a0;
    color: #fff;
}
.navbar {z-index:2;/* margin-top: 3em; */position: sticky;top: 0;}
.navbar h1 {
    font-size: 28px;
    height: 40px;
    display: flex;
    align-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.flex-fill-custom {
  flex: 1 1 auto!important;
}
.card .accordion-button {
    background-color: #39a776;
    background: linear-gradient(92deg, rgb(92 153 196) 0%, rgb(68 97 145) 100%)!important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    color: #fff;
}
a:hover {color:orange}
.card  .accordion-body {
    padding: 1rem 1.25rem;
    /* background: #ffffff; */
    color: #fff;
}
.form-label {
    margin-bottom: 0;
}
.mr-3 {margin-right:15px}
header:before {
    content: " ";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    background: linear-gradient(90deg, #263d77, #051131 51%, var(--c1, #564da0)) var(--x, 0)/ 200%;
    background: url(https://cdn.pixabay.com/photo/2016/06/02/02/35/mesh-1430107_640.png);
    background-size: cover;
    background-position: 1px 3%;
    opacity: 0.;
}
.socialField:hover {
    background: #2a2a2a38;
    cursor: pointer;
    color: #00bcd4;
    transition: 0.3s;
    box-shadow: 2px 2px 14px 5px #5550a096;
}
button:focus:not(:focus-visible) {
    outline: 0;
    border: 0;
    box-shadow: none;
}
header h2 {
    z-index: 80;
    position: relative;
    color: #fff;
    font-weight: 500;
}
.socialField {
    background: #00BCD4;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s;
    /* border: 1px solid #cccccc54; */
}
.accordion-item {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
}
.cartao h2 {
    color: #fff;
    font-weight: 400;
}
h3.form-label {
    color: #96caef;
    font-style: italic;
    /* font-weight: 300; */
    font-size: 23px;
    margin-bottom: 10px;
}
.cartao .card {
    background: #1d2b5a;
    background: linear-gradient(#6682b4, #223043);
}
.cartao header:before {
    height: 144px;
}
.mobileProfile {
	display:none; 
    background: #5551a0;
    margin: 16px 0 0 0;
}
.cartao.conteudo:before {
	width: 100%;
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #29acce75;
	display: block;
	height: 100vh;
	z-index: 0;
	background-size: cover;
}
ul, li {margin:0; padding:0; list-style:none}
	.socialField {margin-right:10px}
@media only screen and (max-width:1504px) and  (min-width:988px) {
	.card {
		width: 40%!important;
	}
}
@media screen and (max-width:964px) {

	.flex-fill  {WIDTH:100%}
	.cartao header:before {
		height: 19%;
	}
	.flex-fill-custom {
		flex: 100%!important;
	}
		.socialField {margin-right:0px!important}
}
@media screen and (max-width:600px) {
.cartao .card {
    /* background: #1d2b5a; */
    height: 100vh;
    position: fixed;
    overflow: auto;
}
.mobileProfile {display:block}

@media screen and (min-width:985px) {
	.navbar {height:67px;z-index: 20;}


}
@media screen and (min-width:990px) {
	.formulario.conteudo {
		margin-top: 329px;
	}
}
